fastapi
uvicorn
sse-starlette
google-genai>=0.1.2
ddgs>=9.13.1
aiohttp>=3.9.5
pillow>=10.3.0
google-cloud-texttospeech>=2.16.0
python-dotenv>=1.0.1
openai-whisper>=20231117
imageio-ffmpeg>=0.4.9
python-multipart>=0.0.9
